<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>
      <span>New Person</span>
      <!-- <button mat-icon-button matTooltip="Undo changes">
        <mat-icon>undo</mat-icon>
      </button> -->
    </mat-card-title>
    <mat-card-subtitle>
      All fields are mandatory
    </mat-card-subtitle>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-form-field>
            <input matInput type="text" id="firstname" placeholder="First Name"
              formControlName="firstname">
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field>
            <input matInput type="text" id="lastname" placeholder="Last Name"
              formControlName="lastname">
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field>
            <input matInput type="email" id="email" placeholder="Email"
              formControlName="email">
          </mat-form-field>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" mat-button (click)="onCancel()">Back</button>
      <button type="submit" mat-raised-button
        [disabled]="addForm.invalid">Save</button>
    </mat-card-actions>
  </mat-card>
</form>