<form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
  <mat-card>
    <mat-card-title>
      <span>Filters</span>
      <!-- <button mat-icon-button matTooltip="Undo changes">
        <mat-icon>undo</mat-icon>
      </button> -->
    </mat-card-title>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input matInput name="firstname" placeholder="First Name Like" [ngModel]="query.firstname">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input matInput name="lastname" placeholder="Last Name Like" [ngModel]="query.lastname">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input matInput name="email" placeholder="Email Like" [ngModel]="query.email">
          </mat-form-field>
        </div>
        <div class="col-2">
          <button type="submit" mat-raised-button>Apply</button>
        </div>
        <div class="col-1" *ngIf="loading">
          <mat-spinner [diameter]="30" [strokeWidth]="3"></mat-spinner>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions *ngIf="verboseQuery">
      Query: {{ verboseQuery }}
    </mat-card-actions>
  </mat-card>
</form>